img {
  height: 125px
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.adCard {
    background-color: white;
    border: 4px black double;
    border-radius: 10px;
    margin: 1em;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    top: 0;
    position: relative;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in;
  }

  .adCard:hover {
    top: -5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .adCard hr {
    width: 80%;
    margin: 0 auto 10px auto;
    border-top: 1px solid rgb(221, 221, 221);
  }
  