* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

.app {
  background-color: #f6f6f6;
}

.usersPage {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  padding: 0 10px;
  width: 300px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}

.inputGroup label {
  margin-bottom: 3px;
}

.inputGroup input {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 1.1rem;
}

button {
  height: 30px;
  background-color: white;
  border: white;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  height: 30px;
  background-color: rgb(184, 184, 184);
}

.button {
  margin: 0 10px 10px 0;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  filter: blur(.5px);
  font-size: 50px;
  color: rgb(0, 0, 0);
}
